<div class="company-list-container">

  <div class="card">
    <app-filter [filters]="filters" (filterChanged)="onFilterChanged($event)" 
    (triggerParentFunction)="getCompanyList()">
    </app-filter>
    <button style="width:77px" class="btn btn-primary" (click)="search()">Search</button>
  </div>
  
    <h3>Company List</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Company ID</th>
          <th>Company FName</th>
          <th>Company SName</th>  
          <th>City</th>      
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of Company; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ company.companyId  }}</td>
            <td>{{ company.companyFName }}</td>
            <td>{{ company.companySName }}</td>
            <td>{{ company.cityName }}</td>
          </tr>          
      </tbody>
    </table>
  </div>
  