<button class="btn btn-success mb-3" type="button" 
  (click)="openModal(Action.CREATE)">
  Add Designation-Qualification
</button>
<div class="Department-list-container">
  <h3>Designation-Qualification List</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Designation Name</th>
        <th>Degree Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Designation_Qualification of Designation_Qualification_list; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ Designation_Qualification.designationName }}</td>
        <td>{{ Designation_Qualification.degreeName }}</td>
      </tr>
    </tbody>
  </table>
</div>



<app-common-dialog [showDialog]="modal.show " [dialogTitle]="modal.title " 
  [showCloseIcon]="true"
  [showSubmitButton]="true" (submitDialog)="saveDesignation_Qualification()" (closeDialog)="closeModal()">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <label for="DesignationId" class="form-label">Designation Name</label>
        <select class="form-select" id="DesignationId" [(ngModel)]="modal.obj.designationId"
          name="designationId">
          <option value="">Select Designation</option>
          <option *ngFor="let designation of Designation" [value]="designation.designationId">{{
            designation.designationName }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="Degree" class="form-label">Degree Name</label>
        <select class="form-select" id="Degree" [(ngModel)]="modal.obj.degreeId" name="degree_Id">
          <option value="">Select Designation</option>
          <option *ngFor="let degree of degreelist" [value]="degree.degree_Id">{{ degree.degree_Name }}</option>
        </select>
      </div>
    </div>
  </div>
</app-common-dialog>