<button class="btn btn-success mb-3" type="button" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
    Add Designation-Qualification
  </button>
  <div class="Department-list-container">
      <h3>Designation-Qualification List</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>  
            <th>Designation Name</th>             
            <th>Degree Name</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Designation_Qualification of Designation_Qualification_list; let i = index">
              <td>{{ i + 1 }}</td>  
              <td>{{ Designation_Qualification.designationName }}</td>                         
              <td>{{ Designation_Qualification.degree_Name }}</td>              
            </tr>          
        </tbody>
      </table>
    </div>
  
     <!-- Add Employee Modal -->
     <div
     class="modal fade"
     id="addEmployeeModal"
     tabindex="-1"
     aria-labelledby="addEmployeeModalLabel"
     aria-hidden="true"
   >
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="addEmployeeModalLabel">Add/Edit Designation Qualification</h5>
           <button
             type="button"
             class="btn-close"
             data-bs-dismiss="modal"
             aria-label="Close"
           ></button>
         </div>
         <div class="modal-body"> 
            <div class="mb-3">
                <label for="DesignationId" class="form-label">Designation Name</label>
                <select class="form-select" id="DesignationId" [(ngModel)]="Designation_Qualification.designationId" name="designationId">
                  <option value="">Select Designation</option>
                  <option *ngFor="let designation of Designation" [value]="designation.designationId">{{ designation.designationName }}</option>
                </select>
              </div>                                   
              <div class="mb-3">
                <label for="Degree" class="form-label">Degree Name</label>
                <select class="form-select" id="Degree" [(ngModel)]="Designation_Qualification.degree_Id" name="degree_Id">
                  <option value="">Select Designation</option>
                  <option *ngFor="let degree of degreelist" [value]="degree.degree_Id">{{ degree.degree_Name }}</option>
                </select>
              </div>           
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
           <button type="submit" class="btn btn-primary" (click)="save_Designation_Qualification(Designation_Qualification)">Save</button>
           
         </div>
       </div>
     </div>
   </div>
    
    
    