
  <div class="Department-list-container">
      <h3>OD Slip List</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>         
            <th>Employee Name</th>
            <th>Comany Name</th>  
            <th>Purpose</th>      
            <th>Date</th>      
            <th>Number of Days</th>
            <th>Approval Status</th>                
            <th>View OD Slip</th>    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let odcompany of odcompanylist; let i = index">
              <td>{{ i + 1 }}</td>                   
              <td>{{ odcompany.employeeName }}</td>
              <td>{{ odcompany.companyName }}</td>
              <td>{{ odcompany.purpose }}</td>
              <td>{{ odcompany.from_Date }} - {{ odcompany.to_Date }}</td>
              <td>{{ odcompany.how_Many_Days }} </td>  
              <td>{{ odcompany.visiting_Manager_Approval ? odcompany.visiting_Manager_Approval : 'Pending' }}</td>      
              <td><a class="btn btn-primary"  data-bs-dismiss="modal"  type="button" [routerLink]="['/odslipapprovalview']" [queryParams]="{ odslip_id: odcompany.odslip_Id }">
                  View OD Slip
              </a></td>
            </tr>          
        </tbody>
      </table>
    </div>
  
    
    
    
    