<div class="container">
  <h2>Employee Work Details</h2>

  <div class="card">
    <app-filter [filters]="filters" (filterChanged)="onFilterChanged($event)"
        (triggerParentFunction)="fetchEmployeeWorkDetails()">
    </app-filter>
    <button style="width:77px" class="btn btn-primary" (click)="search()">Search</button>
</div>

  <!-- Work Details Table -->
  <div *ngIf="employeeWorkDetails && employeeWorkDetails.length">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Total Working Days</th>
          <th>Worked Days</th>
          <th>Non Worked Days</th>
          <th>Loss of Pay Days</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of employeeWorkDetails">
          <td>{{ detail.employeeName }}</td>
          <td>{{ detail.totalWorkingDays }}</td>
          <td>{{ detail.workedDays }}</td>
          <td>{{ detail.nonWorkedDays }}</td>
          <td>{{ detail.lossOfPayDays }}</td>
          <td>
            <button class="btn btn-primary" (click)="openUpdateModal(detail)">Update</button>
            <button class="btn btn-danger" (click)="openAttendanceDetail(detail)">View</button>
            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
              Add OD Slip
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Add/Edit OD Slip</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <div class="mb-3">
            <label for="employeeId" class="form-label">Employee Name</label>
            <select class="form-select" id="CompanyId" [(ngModel)]="odslip.employeeId" name="employeeId" >
              <option value="">Select Company</option>
              <option *ngFor="let employee of Employee" [value]="employee.employeeId">{{ employee.employeeName }}</option>
            </select>              
          </div>  -->

          <div class="mb-3">
            <label for="CompanyId" class="form-label">visiting Comany Name</label>
            <select class="form-select" id="CompanyId" [(ngModel)]="odslip.visiting_Company_Id"
              name="visiting_Company_Id">
              <option value="">Select Company</option>
              <option *ngFor="let company of Company" [value]="company.companyId">{{ company.companyFName }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="purpose" class="form-label">Purpose</label>
            <input type="text" class="form-control" [(ngModel)]="odslip.purpose" id="purpose" name="purpose"
              placeholder="Enter Purpose" required>
          </div>
          <div class="mb-3">
            <label for="from_Date" class="form-label">From Date</label>
            <input type="text" class="form-control" [(ngModel)]="odslip.from_Date" id="from_Date" name="from_Date"
              placeholder="Enter From Date" required>
          </div>
          <div class="mb-3">
            <label for="To_Date" class="form-label">To Date</label>
            <input type="text" class="form-control" [(ngModel)]="odslip.to_Date" id="To_Date" name="to_Date"
              placeholder="Enter To Date" required>
          </div>
          <div class="mb-3">
            <label for="How_Many_Days" class="form-label">No of Days</label>
            <input type="text" class="form-control" [(ngModel)]="odslip.how_Many_Days" id="How_Many_Days"
              name="how_Many_Days" placeholder="Enter No of Days" required>
          </div>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          <button type="submit" class="btn btn-primary" (click)="saveodslip(odslip)">Save</button>

        </div>
      </div>
    </div>
  </div>

  <app-common-dialog [showCloseIcon]="true" [dialogTitle]="'Update Work Details'" [showDialog]="isModalOpen"
    [showSubmitButton]="true" (submitDialog)="updateWorkDetails()" (closeDialog)="closeModal()">
    <form>
      <div class="form-group">
        <label for="totalWorkingDays">Employee</label>
        <input type="text" id="employeeName" name="employeeName" [(ngModel)]="selectedWorkDetail.employeeName"
          class="form-control" [disabled]="true" />
      </div>

      <div class="form-group">
        <label for="totalWorkingDays">Total Working Days</label>
        <input type="number" id="totalWorkingDays" name="totalWorkingDays"
          [(ngModel)]="selectedWorkDetail.totalWorkingDays" class="form-control" />
      </div>
      <div class="form-group">
        <label for="workedDays">Worked Days</label>
        <input type="number" id="workedDays" name="workedDays" [(ngModel)]="selectedWorkDetail.workedDays"
          class="form-control" />
      </div>
      <div class="form-group">
        <label for="nonWorkedDays">Non Worked Days</label>
        <input type="number" id="nonWorkedDays" name="nonWorkedDays" [(ngModel)]="selectedWorkDetail.nonWorkedDays"
          class="form-control" />
      </div>
      <div class="form-group">
        <label for="lossOfPayDays">Loss of Pay Days</label>
        <input type="number" id="lossOfPayDays" name="lossOfPayDays" [(ngModel)]="selectedWorkDetail.lossOfPayDays"
          class="form-control" />
      </div>
      <div class="form-group">
        <label for="additionalDetails">Additional Details</label>
        <textarea id="additionalDetails" name="additionalDetails" [(ngModel)]="selectedWorkDetail.additionalDetails"
          class="form-control">
        </textarea>
      </div>
    </form>
  </app-common-dialog>


  <app-common-dialog [showDialog]="isAttendanceModalOpen" [showCloseIcon]="true" [dialogTitle]="'Attendance Details'"
    (closeDialog)="isAttendanceModalOpen = false" [maxWidth]="'900px'">

    <table class="table table-bordered table-striped table-hover">
      <thead class="bg-primary text-white">
        <tr>
          <th>Date</th>
          <th>Time In</th>
          <th>Time Out</th>
          <th>Status</th>
          <th>Duration (mins)</th>
          <th>Late By (mins)</th>
          <th>Early By (mins)</th>
          <th>Over Time (mins)</th>
          <th>Loss of Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of attendanceDetails" [class.table-success]="record.status.trim() === 'Present'"
          [class.table-danger]="record.status.trim() === 'Absent'">
          <td>{{ record.attendanceDate }}</td>
          <td>{{ record.inTime }}</td>
          <td>{{ record.outTime }}</td>
          <td>{{ record.status }}</td>
          <td>{{ record.duration }}</td>
          <td>{{ record.lateBy }}</td>
          <td>{{ record.earlyBy }}</td>
          <td>{{ record.overTime }}</td>
          <td>{{ record.lossOfHours }}</td>
        </tr>
      </tbody>
    </table>

  </app-common-dialog>
</div>