<div class="City-list-container">
    <h3>Region List</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <!-- <th>State ID</th>
          <th>State Name</th> -->
          <th>Region ID</th>
          <th>Region Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of city; let i = index">
          <td>{{ i + 1 }}</td>
          <!-- <td>{{ city.stateId }}</td>
          <td>{{ city.stateName }}</td> -->
          <td>{{ city.cityId }}</td>
          <td>{{ city.cityName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  