<div class="warning-card-container" *ngIf="parentContext.showTopContainer">
  <div class="warning-card">
    <!-- Close icon -->
    <i class="fa fa-close close-icon" (click)="parentContext.showTopContainer = false"></i>
    <!-- Conditionally display institution name if user is an INSTITUTION_ADMIN -->
    <div class="warning-content">
      <!--Display Role-->

      <div *ngIf="parentContext.user.role=='MANAGER'">
        <p>Role:<b>{{parentContext.user.role}}</b></p>
        Unit:
        <b>
          {{parentContext.user.companyName}}
        </b>
      </div>

      <div *ngIf="parentContext.user.role=='VENDOR'">
        <p>Vendor:<b>{{parentContext.user.role}}</b></p>
        Unit:
        <b>
          {{parentContext.user.vendorName}}
        </b>
      </div>

      <div *ngIf="parentContext.user.role=='STATE_ADMIN'">
        <p>Role:<b>{{parentContext.user.role}}</b></p>
       
      </div>

      <div *ngIf="parentContext.user.role=='CITY_ADMIN'">
        <p>Role:<b>REGION MANAGER</b></p>
        <p>Region:<b>{{parentContext.user.cityName}}</b></p>
       
      </div>


    </div>
  </div>
</div>