<button class="btn btn-success mb-3" type="button" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
  Add Degree
</button>
<div class="Department-list-container">
  <h3>Degree List</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th (click)="sortData('degree_Name')">Degree Name
          <span>{{ sortBy === 'degree_Name' ?
            (sortOrder === 'asc' ? '↑' :'↓') : '' }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let degree of degreelist; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ degree.degree_Name }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add/Edit Degree</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="Degree_Name" class="form-label">Degree Name</label>
          <input type="text" class="form-control" [(ngModel)]="degree.degree_Name" id="Degree_Name" name="degree_Name"
            placeholder="Enter Degree Name" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        <button type="submit" class="btn btn-primary" (click)="savedegree(degree)">Save</button>

      </div>
    </div>
  </div>
</div>