<button class="btn btn-success mb-3" type="button" (click)="openModal(Action.CREATE)">
  Add Degree
</button>

<button (click)="dataService.downloadExcelTable('degree', 'Degree')" class="btn btn-success">Download as
  Excel</button>

<div class="Department-list-container">
  <h3>Degree List</h3>
  <table id="degree" class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th (click)="sortData('degree_Name')">Degree Name
          <span>{{ sortBy === 'degree_Name' ?
            (sortOrder === 'asc' ? '↑' :'↓') : '' }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let degree of degreelist; let i = index">
        <td>{{ i + 1 }}
          <span>
            <button class="btn btn-primary" (click)="openModal(Action.UPDATE, degree)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteDegree(degree.degree_Id)">
              <i class="fas fa-trash"></i>
            </button>
          </span>

        </td>
        <td>{{ degree.degree_Name }}</td>
      </tr>
    </tbody>
  </table>
</div>



<app-common-dialog [showDialog]="modal.show " [dialogTitle]="modal.title " 
  [showCloseIcon]="true"
  [showSubmitButton]="true" (submitDialog)="savedegree()" (closeDialog)="closeModal()">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <label for="Degree_Name" class="form-label">Degree Name</label>
        <input type="text" class="form-control" [(ngModel)]="modal.obj.degree_Name" id="Degree_Name" name="degree_Name"
          placeholder="Enter Degree Name" required>
      </div>
    </div>
  </div>
</app-common-dialog>
