
<button class="btn btn-primary mb-3" (click)="downloadPDF()">Download pay Slip</button>
<div id="pdfContent" class="card p-4">
<div  >
  <div class="payslip-header">
    <h3>PAYSLIP</h3>
    <p>For the month of <strong>November 2024</strong></p>
  </div>

  <!-- Company and Employee Details -->
  <div class="row">
    <div class="col-md-6">
        <img src="/assets/images/logo/logo_3.png" alt="Logo" />
    </div>
    <div class="col-md-6">
      <h5>Tamilnadu Tourism Developement Corporation</h5>
      <!-- <p><strong>ABC Pvt Ltd</strong></p> -->
      <p>123, Corporate Avenue</p>
      <p>Chennai, Tamilnadu, 600029</p>
    </div>
    <!-- <div class="col-md-6 text-end">
      <h5>Employee Details</h5>
      <p><strong>Name:</strong> John Doe</p>
      <p><strong>Employee ID:</strong> EMP12345</p>
      <p><strong>Department:</strong> IT</p>
    </div> -->
  </div>
  <hr>
  <!-- Earnings and Deductions -->
  <div class="row">
    <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Emp No</td>
            <th class="text-center">{{payobj.employeeId}}</th>
            <td>Emp Name</td>
            <th class="text-center">{{payobj.employeeName}}</th>
            <td>Total Days</td>
            <th class="text-center">{{payobj.totalDays}}</th>
            <td>LOP</td>
            <td class="text-center">{{payobj.lopDays}}</td>            
          </tr>          
          <tr>
            <td>Level</td>
            <th class="text-center">4</th>
            <td>Designation</td>
            <th class="text-center">{{payobj.designationName}}</th>
            <td>Prev Closing Bal</td>
            <th class="text-center">12</th>
            <td rowspan="2">Date of Joining</td>
            <th rowspan="2" class="text-center">{{payobj.doj}}</th>            
          </tr>
          <tr>
            <td>PF No</td>
            <th class="text-center">8384938</th>
            <td>ESI No</td>
            <th class="text-center">-</th>
            <td>CL Closing Bal</td>
            <th class="text-center">0</th>           
          </tr>
        </tbody>
    </table>
    <div class="col-md-6" style="float: left;">
      <h5>Earnings</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Description</th>
            <th class="text-end">Eligible</th>
            <th class="text-end">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Basic Salary</td>
            <td class="text-end">{{payobj.basic}}</td>
            <td class="text-end">{{payobj.basic}}</td>
          </tr>
          <tr>
            <td>HRA</td>
            <td class="text-end">{{payobj.hra}}</td>
            <td class="text-end">{{payobj.hra}}</td>
          </tr>
          <tr>
            <td>Travel & Conveyance</td>
            <td class="text-end">{{payobj.lopDays}}</td>
            <td class="text-end">{{payobj.lopDays}}</td>
          </tr>
          <tr>
            <td>Medical Allowances</td>
            <td class="text-end">{{payobj.medicalAllowance}}</td>
            <td class="text-end">{{payobj.medicalAllowance}}</td>
          </tr>
          <tr>
            <td>LTA</td>
            <td class="text-end">{{payobj.lta}}</td>
            <td class="text-end">{{payobj.lta}}</td>
          </tr>
          <tr>
            <td>Meal Allowances</td>
            <td class="text-end">0</td>
            <td class="text-end">0</td>
          </tr>
          <tr>
            <td>Child Edn Allowance</td>
            <td class="text-end">{{payobj.childEdnAllowance}}</td>
            <td class="text-end">{{payobj.childEdnAllowance}}</td>
          </tr>
          <tr>
            <td>Academic/Research</td>
            <td class="text-end">0</td>
            <td class="text-end">0</td>
          </tr>
          <tr>
            <td>Other Allowances</td>
            <td class="text-end">0</td>
            <td class="text-end">0</td>
          </tr>
          <tr>
            <td>Incentive</td>
            <td class="text-end">0</td>
            <td class="text-end">0</td>
          </tr>
          <tr>
            <td>Reimbursements</td>
            <td class="text-end">0</td>
            <td class="text-end">0</td>
          </tr>
          
        </tbody>
        <tfoot>
          <tr>
            <th>Total Earnings</th>
            <th class="text-end">{{payobj.totalEarnings}}</th>
          </tr>
        </tfoot>        
      </table>
    </div>

    <div class="col-md-6"  style="float: left;">
      <h5>Deductions</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Description</th>
            <th class="text-end">Amount (₹)</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>PF</td>
            <td class="text-end">{{payobj.pf}}</td>
            </tr>
            <tr>
            <td>PF - Vol Cont</td>
            <td class="text-end">0</td>
            </tr>
            <tr>
            <td>ESI Contribution</td>
            <td class="text-end">0</td>
        </tr>
        <tr>
            <td>Income Tax</td>
            <td class="text-end">0</td>
          </tr>
          <tr>
            <td>Professional Tax</td>
            <td class="text-end">0</td>
          </tr>
          <tr>
            <td>Salary In Advance</td>
            <td class="text-end">0</td>
          </tr>
          <tr>
            <td>Meal Pass ST Deduction</td>
            <td class="text-end">0</td>
          </tr>
          <tr>
            <td>Other Deduction</td>
            <td class="text-end">0</td>
          </tr>
          <tr>
            <td> - </td>
            <td>-</td>
          </tr>
          <tr>
            <td> - </td>
            <td>-</td>
          </tr>
          <tr>
            <td> - </td>
            <td>-</td>
          </tr>

         
          
        </tbody>
        <tfoot>
          <tr>
            <th>Gross Deductions</th>
            <th class="text-end">{{payobj.totalDeductions}}</th>
          </tr>
        </tfoot>
      </table>
      </div>
      <div class="row">
      <div class="col-md-12">
      <table  class="table table-bordered">
        <tbody>
            <tr>
            <td style="width:30%;" rowspan="3"></td>
            <td style="width:15%;">Bank</td>
            <td style="width:15%;">0</td>
            <td style="width:30%;" rowspan="3">
                <label>Authorized Signature</label>
            </td>
        </tr>
        <tr>
            <td>Amount</td>
            <td></td>
        </tr>
        <tr>
            <td>Meal Pass</td>
            <td>0</td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>

  <hr>

  <!-- Net Pay -->
  <div class="row">
    <div class="col-md-12 text-end">
      <h5><strong>Net Pay: ₹{{payobj.netSalary}}</strong></h5>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <div class="text-center">
    <p><small>This is a computer-generated payslip and does not require a signature.</small></p>
  </div>
</div>
</div>
