<button type="button" class="btn btn-primary" (click)="openFilterModal()">
  <i class="fas fa-filter"></i> Filter
</button>
<app-common-dialog [showDialog]="showDialog" [dialogTitle]="'Filters'" [showCloseIcon]="true" [showSubmitButton]="true"
  (closeDialog)="showDialog = false" (submitDialog)="search()">
  <div class="container">
    <div class="row">
      <div *ngIf="filters.selectedMonth.show" class="col-md-4">
        <div class="form-group">
          <label for="month">Month</label>
          <div class="d-flex align-items-center">
            <!-- Left Arrow -->
            <button type="button" class="btn btn-outline-primary me-2" (click)="changeMonth(-1)">
              <i class="fas fa-chevron-left"></i>
            </button>

            <!-- Month Dropdown -->
            <select [(ngModel)]="filters.selectedMonth.value" (change)="onFilterChange()"
              class="form-control text-center" id="month">
              <option *ngFor="let month of months" [value]="month.number">{{ month.name }}</option>
            </select>

            <!-- Right Arrow -->
            <button type="button" class="btn btn-outline-primary ms-2" (click)="changeMonth(1)">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>


      <div *ngIf="filters.selectedYear.show" class="col-md-4">
        <div class="form-group">
          <label for="year">Year</label>
          <select [(ngModel)]="filters.selectedYear.value" (change)="onFilterChange()" class="form-control" id="year">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
      </div>

      <div *ngIf="filters.cityId.show" class="col-md-4">
        <div class="form-group">
          <label for="city">City</label>
          <select [(ngModel)]="filters.cityId.value" (change)="onCityChange()" class="form-control" id="city">
            <option value="">Select City</option>
            <option *ngFor="let city of cities" [value]="city.cityId">{{ city.cityName }}</option>
          </select>
        </div>
      </div>



      <div *ngIf="filters.companyId.show" class="col-md-4">
        <div class="form-group">
          <label for="company">Company</label>
          <select [(ngModel)]="filters.companyId.value" (change)="onCompanyChange()" class="form-control" id="company">
            <option value="">Select Company</option>
            <option *ngFor="let company of companies" [value]="company.companyId">{{ company.companyFName }}</option>
          </select>
        </div>
      </div>

      <div *ngIf="filters.deptId.show" class="col-md-4">
        <div class="form-group">
          <label for="department">Department</label>
          <select [(ngModel)]="filters.deptId.value" (change)="onDepartmentChange()" class="form-control"
            id="department">
            <option value="">Select Department</option>
            <option *ngFor="let department of departments" [value]="department.departmentId">{{
              department.departmentFName
              }}</option>
          </select>
        </div>
      </div>

      <div *ngIf="filters.vendorId.show" class="col-md-4">
        <div class="form-group">
          <label for="vendor">Select Vendor</label>
          <select [(ngModel)]="filters.vendorId.value" (change)="onVendorChange()" class="form-control" id="vendor">
            <option value="">Select Vendor</option>
            <option *ngFor="let vendor of vendors" [value]="vendor.vendorId">{{ vendor.vendorName }}</option>
          </select>
        </div>
      </div>

      <div *ngIf="filters.vendorName.show" class="col-md-4">
        <div class="form-group">
          <label for="vendorName"> Vendor Name</label>
          <input [(ngModel)]="filters.vendorName.value" (change)="onVendorNameChange()" class="form-control"
            id="vendorName" type="text" placeholder="Enter Vendor Name">
        </div>
      </div>

      <div *ngIf="filters.designationId.show" class="col-md-4">
        <div class="form-group">
          <label for="designation">Designation</label>
          <select [(ngModel)]="filters.designationId.value" (change)="onDesignationChange()" class="form-control"
            id="designation">
            <option value="">Select Designation</option>
            <option *ngFor="let designation of designations" [value]="designation.designationId">{{
              designation.designationName }}</option>
          </select>
        </div>
      </div>



      <div *ngIf="filters.catId.show" class="col-md-4">
        <div class="form-group">
          <label for="category">Employment Type</label>
          <select [(ngModel)]="filters.catId.value" (change)="onCategoryChange()" class="form-control" id="category">
            <option value="">Select Employment Type</option>
            <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryFName }}
            </option>
          </select>
        </div>
      </div>

      <div *ngIf="filters.employeeId.show" class="col-md-4">
        <div class="form-group">
          <label for="employee">Enter Employee Id</label>
          <input [(ngModel)]="filters.employeeId.value" (change)="onEmployeeChange()" class="form-control" id="employee"
            type="text" placeholder="Enter Employee Id">
        </div>
      </div>

      <div *ngIf="filters.employeeName.show" class="col-md-4">
        <div class="form-group">
          <label for="employee">Enter Employee Name</label>
          <input [(ngModel)]="filters.employeeName.value" (change)="onEmployeeChange()" class="form-control"
            id="employee" type="text" placeholder="Enter Employee Name">
        </div>
      </div>

      <div *ngIf="filters.employeeCode.show" class="col-md-4">
        <div class="form-group">
          <label for="employee">Enter Employee Code</label>
          <input [(ngModel)]="filters.employeeCode.value" (change)="onEmployeeChange()" class="form-control"
            id="employee" type="text" placeholder="Enter Employee Code">
        </div>
      </div>

    </div>
  </div>
</app-common-dialog>