<button class="btn btn-success mb-3" type="button" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
  Add Employee
</button>

<div class="Employee-list-container">
    <h3>Employee List</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Employee Code</th>  
          <th>Gender</th>  
          <th>AadhaarNumber</th>  
          <th>Qualifications</th>  
          <th>Designation Name</th>  
          <th>Company Name</th>      
          <th>Department Name</th>      
          <th>Category Name</th>  
          <th>State</th>     
          <th>City</th>      
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of Employee; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ employee.employeeId  }}</td>
            <td>{{ employee.employeeName }}</td>
            <td>{{ employee.employeeCode }}</td>           
            <td>{{ employee.gender }}</td>
            <td>{{ employee.aadhaarNumber }}</td>
            <td>{{ employee.qualifications }}</td>
            <td>{{ employee.designationName }}</td>
            <td>{{ employee.companyFName }}</td>
            <td>{{ employee.departmentFName }}</td>
            <td>{{ employee.categoryFName }} </td>
            <td>{{ employee.stateName }} </td>
            <td>{{ employee.cityName }} </td>
          </tr>          
      </tbody>
    </table>
  </div>
  
  <!-- Add Employee Modal -->
  <div
    class="modal fade"
    id="addEmployeeModal"
    tabindex="-1"
    aria-labelledby="addEmployeeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Add/Edit Employee</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()"> -->
            <!-- <form (ngSubmit)="saveEmployee(employee)" > -->
         
            <div class="mb-3">
              <label for="employeeName" class="form-label">Employee Name</label>
              <input type="text" class="form-control" [(ngModel)]="employee.employeeName" id="employeeName" name="employeeName" placeholder="Enter Employee Name" required>
            </div>
            <div class="mb-3">
              <label for="EmployeeCode" class="form-label">Employee Code</label>
              <input type="text" class="form-control" id="EmployeeCode" [(ngModel)]="employee.EmployeeCode" name="EmployeeCode"  placeholder="Enter Employee Code" required>
            </div>
            <div class="mb-3">
              <label for="NumericCode" class="form-label">Numeric Code</label>
              <input type="number" class="form-control" id="NumericCode" [(ngModel)]="employee.NumericCode" name="NumericCode"  placeholder="Enter Numeric Code" required>
            </div>
            <div class="mb-3">
              <label for="StringCode" class="form-label">String Code</label>
              <input type="text" class="form-control" id="StringCode"  [(ngModel)]="employee.StringCode" name="StringCode"  placeholder="Enter String Code" required>
            </div>
            <div class="mb-3">
              <label for="Gender" class="form-label">Gender</label>
              <input type="text" class="form-control" id="Gender" [(ngModel)]="employee.Gender" name="Gender" placeholder="Enter Gender">
            </div>
            <div class="mb-3">
              <label for="AadhaarNumber" class="form-label">Aadhar Number</label>
              <input type="text" class="form-control" id="AadhaarNumber" [(ngModel)]="employee.AadhaarNumber" name="AadhaarNumber" placeholder="Enter AadhaarNumber">
            </div>
            <div class="mb-3">
              <label for="Qualifications" class="form-label">Qualifications</label>
              <input type="text" class="form-control" id="Qualifications" [(ngModel)]="employee.Qualifications" name="Qualifications" placeholder="Enter Qualifications">
            </div>
            <div class="mb-3">
              <label for="DesignationId" class="form-label">Designation Name</label>
              <select class="form-select" id="DesignationId" [(ngModel)]="employee.designationId" name="designationId">
                <option value="">Select Designation</option>
                <option *ngFor="let designation of Designation" [value]="designation.designationId">{{ designation.designationName }}</option>
              </select>
            </div>

            
            <div class="mb-3">
              <label for="CompanyId" class="form-label">Company Name</label>
              <select class="form-select" id="CompanyId" [(ngModel)]="employee.companyId" name="companyId" >
                <option value="">Select Company</option>
                <option *ngFor="let company of Company" [value]="company.companyId">{{ company.companyFName }}</option>
              </select>              
            </div>

            <div class="mb-3">
              <label for="DepartmentId" class="form-label">Department Name</label>
              <select class="form-select" id="DesignationId" [(ngModel)]="employee.departmentId" name="departmentId" >
                <option value="">Select Department</option>
                <option *ngFor="let department of Department" [value]="department.departmentId">{{ department.departmentFName }}</option>
              </select>              
            </div>

            <div class="mb-3">
              <label for="CategoryId" class="form-label">Category Name</label>
              <select class="form-select" id="CategoryId" [(ngModel)]="employee.categoryId" name="categoryId" >
                <option value="">Select Category</option>
                <option *ngFor="let category of Category" [value]="category.categoryId">{{ category.categoryFName }}</option>
              </select>               
            </div>
            <div class="mb-3">
              <label for="States" class="form-label">State Name</label>
              <select class="form-select" id="States" [(ngModel)]="employee.stateId" name="stateId" >
                <option value="">Select States</option>
                <option *ngFor="let states of States" [value]="states.stateId">{{ states.stateName }}</option>
              </select>  
            </div>
            <div class="mb-3">
              <label for="City" class="form-label">City Name</label>
              <select class="form-select" id="City" [(ngModel)]="employee.cityId" name="cityId" >
                <option value="">Select City</option>
                <option *ngFor="let city of City" [value]="city.cityId">{{ city.cityName }}</option>
              </select>                
            </div>
            
          <!-- </form> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="submit" class="btn btn-primary bg-red" [disabled]="!employeeForm || employeeForm.invalid">Register</button> -->
          <button type="submit" class="btn btn-primary" (click)="saveEmployee(employee)">Save</button>
          
        </div>
      </div>
    </div>
  </div>