<div class="Department-list-container">
  <h3>Payslip Generated Employees:
    {{this.filters.selectedMonth.value | monthName }} {{this.filters.selectedYear.value}}
  </h3>

  <div class="cards-filter">
    <app-filter [filters]="filters" (filterChanged)="onFilterChanged($event)"
      (triggerParentFunction)="getEmployeeList()">
    </app-filter>
    <button *ngIf="false" style="width:77px" class="btn btn-primary" (click)="search()">Search</button>
    <button (click)="this.dataService.downloadPDF('vendorPaymentTable')" class="btn btn-primary">
      Download as PDF
    </button>
  </div>


  <table id="vendorPaymentTable" class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Employee Name</th>
        <th>Employee Code</th>
        <th>Unit Name</th>
        <th>Vendor Name</th>
        <th>Designation Name</th>
        <th>Total Working Days</th>
        <th>Basic Salary</th>
        <th>HRA</th>
        <th>Employee PF cont.</th>
        <th>Employee ESI cont.</th>
        <th>Net Salary</th>
        <th>Gross Salary</th>
        <th>View Slips</th>
        <th>Passbook</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of EmpLists; let i = index">
        <td>{{ i + 1 }}</td>
        <!-- <td>{{ department.employeeId  }}</td> -->
        <td>{{ d.employeeName }}</td>
        <td>{{ d.employeeCode }}</td>
        <td>{{ d.companyFName }}</td>
        <td>LipiInterior</td>
        <td>{{ d.designationName }}</td>
        <td>{{ d.presentDays }}</td>
        <td>{{ d.basicRate | currency:'INR' }}</td>
        <td>{{ d.hra | currency:'INR' }}</td>
        <td>{{ d.epfEmployeeContribution | currency:'INR' }}</td>
        <td>{{ d.esiEmployeeContribution | currency:'INR' }}</td>
        <td>{{ d.netSalary | currency:'INR' }}</td>
        <td>{{ d.grossSalary | currency:'INR' }}</td>
        <td>
          <button class="btn btn-primary" type="button" [routerLink]="['/payslip', d.payslipRecordId]"
            [queryParams]="{ empId: d.employeeId }">
            View Pay Slips
          </button>
        </td>
        <td>
          <button (click)="openPassbookModal(d)" class="btn btn-primary" type="button">
            <span *ngIf="userAccessLevel== UserType.MANAGER ||
                  userAccessLevel== UserType.VENDOR ||
                   userAccessLevel== UserType.STATE_ADMIN">
              View Passbook</span>
            <span *ngIf="userAccessLevel== UserType.EMPLOYEE"> View/Upload Passbook</span>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="EmpLists.length > 0">
      <tr>
        <td colspan="7" class="text-right"><strong>Total:</strong></td>
        <td>{{ getTotal('basicRate') | currency:'INR' }}</td>
        <td>{{ getTotal('hra') | currency:'INR' }}</td>

        <td>{{ getTotal('epfEmployeeContribution') | currency:'INR' }}</td>
        <td>{{ getTotal('esiEmployeeContribution') | currency:'INR' }}</td>
        <td>{{ getTotal('netSalary') | currency:'INR' }}</td>
        <td>{{ getTotal('grossSalary') | currency:'INR' }}</td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <app-server-pagination [pageAttributes]="pageAttributes" (triggerParentFunction)="getEmployeeList()">
  </app-server-pagination>

</div>


<!-- Certificate Modal -->
<app-common-dialog [showDialog]="passbookModal.show " [dialogTitle]="passbookModal.title  " [showCloseIcon]="true"
  [showSubmitButton]="true" (submitDialog)="uploadPassbook()" (closeDialog)="closePassbookModal()">

  <div *ngIf="userAccessLevel== UserType.EMPLOYEE" class="mb-3">
    <label for="certificateImage" class="form-label">Upload Passbook</label>
    <input type="file" class="form-control" id="certificateImage" (change)="passbookImage($event)">

  </div>

  <table *ngIf="passbookModal.data.id" class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Document Type</th>
        <th>File</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span>1</span>
        </td>
        <td>PASSBOOK</td>
        <td>
          <span>
            <a href="{{ passbookModal.data.filePath }}" target="_blank">View</a>
          </span>
        </td>

      </tr>
    </tbody>
  </table>


</app-common-dialog>



<app-common-dialog [showDialog]="modalAttr.show" [dialogTitle]="modalAttr.title" [showCloseIcon]="true"
  [showSubmitButton]="false" (closeDialog)="closePaySlip()" [maxWidth]="modalAttr.maxWidth">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Pay Record Id</th>
        <th>Generated Date</th>
        <th>Month</th>
        <th>Year</th>
        <th>Present Days</th>
        <th>Absent Days</th>
        <th>Total Earinings</th>
        <th>Total Deductions</th>
        <th>Gross Salary</th>
        <th>Net Salary</th>
        <th>View Slip</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of payslips; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ department.payslipRecordId }}</td>
        <td>{{ department.payslipDate }}</td>
        <td>{{department.month | monthName}}</td>
        <td>{{department.year}}</td>
        <td>{{ department.presentDays }}</td>
        <td>{{ department.absentDays }}</td>
        <td>{{ department.totalEarnings }}</td>
        <td>{{ department.totalDeductions }}</td>
        <td>{{ department.grossSalary }} </td>
        <td>{{ department.netSalary }} </td>
        <td><a class="btn btn-primary" data-bs-dismiss="modal" type="button"
            [routerLink]="['/payslip', department.payslipRecordId]" [queryParams]="{ empId: employee.employeeId }">
            View Slip
          </a></td>
      </tr>
    </tbody>
  </table>
</app-common-dialog>