
<div class="Department-list-container">
    <h3>Payslip Generated Employees:
      {{this.filters.selectedMonth.value | monthName }} {{this.filters.selectedYear.value}}
    </h3>

    <div class="card">
      <app-filter [filters]="filters" (filterChanged)="onFilterChanged($event)"
       (triggerParentFunction)="getEmployeeList()">
      </app-filter>
      <button style="width:77px" class="btn btn-primary" (click)="search()">Search</button>
    </div>


    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Employee Code</th>
          <th>Designation Name</th>  
          <th>Company Name</th>      
          <th>Department Name</th>      
          <th>Category Name</th>      
          <th>City</th>  
          <th>Pay Slips</th>    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of Department; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ department.employeeId  }}</td>
            <td>{{ department.employeeName }}</td>
            <td>{{ department.employeeCode }}</td>
            <td>{{ department.designationName }}</td>
            <td>{{ department.companyFName }}</td>
            <td>{{ department.departmentFName }}</td>
            <td>{{ department.categoryFName }} </td>
            <td>{{ department.cityName }} </td>
            <td><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="show_list_slip(department)">
                View Pay Slips
            </button></td>
          </tr>          
      </tbody>
    </table>
  </div>
  <div class="container mt-4">
   
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Employee Pay Slips</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Pay Record Id</th>
                    <th>Generated Date</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Total Earinings</th>      
                    <th>Total Deductions</th>      
                    <th>Gross Salary</th>      
                    <th>Net Salary</th>  
                    <th>View Slip</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let department of payslips; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ department.payslipRecordId  }}</td>
                      <td>{{ department.payslipDate }}</td>
                      <td>{{department.month}}</td>
                      <td>{{department.year}}</td>
                      <td>{{ department.totalEarnings }}</td>
                      <td>{{ department.totalDeductions }}</td>
                      <td>{{ department.grossSalary }} </td>
                      <td>{{ department.netSalary }} </td>
                      <td><a class="btn btn-primary"  data-bs-dismiss="modal"  type="button" [routerLink]="['/payslip', department.payslipRecordId]" [queryParams]="{ empId: employee.employeeId }">
                          View Slip
                      </a></td>
                    </tr>          
                </tbody>
              </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  