
<div class="cards-filter">
  <app-filter [filters]="filters" (filterChanged)="onFilterChanged($event)"
      (triggerParentFunction)="search()">
  </app-filter>
  <button *ngIf="false" style="width:77px" class="btn btn-primary" (click)="search()">Search</button>
</div>

<div class="container mt-4">
  <!-- Employee Section -->

  <div *ngIf="false && userAccessLevel == UserType.EMPLOYEE" class="row">
    <div class="col-md-4 mb-4">
      <div style="background-color: #00a9c8; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Pay Generated Amount</h3>
          <h2 class="card-text"></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #ff3078; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Working Days</h3>
          <h2 class="card-text"></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #02c3a4; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Day Wise Status</h3>
         
        </div>
      </div>
    </div>
  </div>

  <!-- Manager Section -->

  <div *ngIf="userAccessLevel == UserType.MANAGER" class="row">
    <div class="col-md-4 mb-4">
      <div style="background-color: #00a9c8; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Total Employees</h3>
          <h2 class="card-text">{{dashboardData.totalEmployees}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #ff3078; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Designation Wise Count</h3>
          <h2 class="card-text">{{dashboardData.totalDesignationCount}}</h2>
        </div>
      </div>
    </div>
  =
  </div>

  <!-- Vendor Section -->

  <div *ngIf="userAccessLevel == UserType.VENDOR" class="row">
    
    <div class="col-md-4 mb-4">
      <div style="background-color: #00a9c8;" class="card shadow-sm dashboard-bg">
        <div class="card-body">
          
          <h3 class="card-title">
          
            Total Company
          </h3>
          <h2 class="card-text">{{dashboardData.totalCompany}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #ff3078; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Total Designation</h3>
          <h2 class="card-text">{{dashboardData.totalDesignationCount}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #02c3a4; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Total Employee</h3>
          <h2 class="card-text">{{dashboardData.totalEmployees}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #ffb902; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Payment Generated</h3>
          <h2 class="card-text">{{dashboardData.paymentGeneratedCount}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #b834a2; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Payment Not Generated</h3>
          <h2 class="card-text">{{dashboardData.paymentNotGeneratedCount }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #cc293a; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Payment Processed </h3>
          <h2 class="card-text">{{dashboardData.paymentProcessedForSelectedMonth | currency:'INR'}}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- State Section -->

  <div *ngIf="userAccessLevel == UserType.STATE_ADMIN" class="row">
    <div class="col-md-4 mb-4">
      <div style="background-color: #00a9c8; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Total Vendor</h3>
          <h3 class="card-text">{{dashboardData.totalVendor}}</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #ff3078; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Total Company</h3>
          <h2 class="card-text">{{dashboardData.totalCompany}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #02c3a4; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Total Designation</h3>
          <h2 class="card-text">{{dashboardData.totalDesignationCount}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #3e9cd6; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Total Employees</h3>
          <h2 class="card-text">{{dashboardData.totalEmployees}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #ffb902; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Payment Generated</h3>
          <h2 class="card-text">{{dashboardData.paymentGeneratedCount }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #b834a2; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Payment Not Generated</h3>
          <h2 class="card-text">{{dashboardData.paymentNotGeneratedCount }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="background-color: #cc293a; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Payment Processed </h3>
          <h2 class="card-text">{{dashboardData.paymentProcessedForSelectedMonth | currency:'INR'}}</h2>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-md-4 mb-4">
      <div style="background-color: #00a9c8; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Today Present Employees</h3>
          <h3 class="card-text">{{attendanceSummaryDashboard.totalPresentDays}}</h3>
        </div>
      </div>
    </div>
  </div> -->
</div>

<button (click)="dataService.downloadPDF('paymentTable')" class="btn btn-primary">Download as PDF</button>
<button (click)="dataService.downloadExcelTable('paymentTable', 'payment-report')" class="btn btn-success">Download as Excel</button>

<div class="container mt-4">
  <table  id="paymentTable" class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Month</th>
        <th>Year</th>
        <th>Total Employee</th>
        <th>Payment Generated Count</th>
        <th>Payment Not Generated Count</th>
        <th>Payment Processed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of paymentGeneratedList; let i =index">
        <td>{{i+1}}</td>
        <td>{{ payment.month | monthName }}</td>
        <td>{{ payment.year }}</td>
        <td>{{ payment.totalEmployee }}</td>
        <td>{{ payment.paymentGeneratedCount }}</td>
        <td>{{ payment.paymentNotGeneratedCount }}</td>
        <td>{{ payment.totalAmount | currency:'INR' }}</td>
      </tr>
    </tbody>
  </table>
  
  
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="paymentGeneratedList.length > 0; else noData">
        <app-chart
          [chartData]="chartData"
          [chartType]="chartType"
          [chartOptions]="chartOptions"
          [chartTitle]="'Payment Generation Graph'"
          chartId="paymentGeneratedChart">
        </app-chart>
      </div>
      
      <ng-template #noData>
        <p>No payment generated data available.</p>
      </ng-template>
    </div>

    <div class="col-md-6">
      <div *ngIf="paymentGeneratedList.length > 0; else noData">
        <app-chart [chartData]="chartDataForPaymentAmount" 
                    [chartOptions]="chartOptionsForPaymentAmount" 
                    [chartType]="'line'" 
                    [chartTitle]="'Payment Processed Graph'"
                    [chartId]="'paymentAmountChart'">
        </app-chart>
      </div>
      
      <ng-template #noData>
        <p>No payment generated data available.</p>
      </ng-template>
    </div>
    
  </div>
</div>