<div class="cards-filter">
  <app-filter [filters]="filters" (filterChanged)="onFilterChanged($event)" (triggerParentFunction)="search()">
  </app-filter>
  <button *ngIf="false" style="width:77px" class="btn btn-primary" (click)="search()">Search</button>
</div>

<div class="container mt-4">
  <!-- Employee Section -->


  <div *ngIf="userAccessLevel == UserType.EMPLOYEE">

    <div class="row">
      <p>
        {{this.filters.selectedMonth.value | monthName}} - {{this.filters.selectedYear.value}}
      </p>

      <div class="col-md-4 mb-4">
        <div style="background-color: #ff3078; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Present Days</h3>
            <h2 class="card-text">{{attendanceSummaryDashboard.totalPresentDays}}</h2>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-4">
        <div style="background-color: #2ebed1; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Absent Days</h3>
            <h2 class="card-text">{{attendanceSummaryDashboard.totalAbsentDays}}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div style="background-color: #d8ab24; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total WeekOff</h3>
            <h2 class="card-text">{{attendanceSummaryDashboard.weekOff}}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div style="background-color: #ad37af; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total holiday</h3>
            <h2 class="card-text">{{attendanceSummaryDashboard.holiday}}</h2>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-4">
        <div style="background-color: #549130; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Leave</h3>
            <h2 class="card-text">{{attendanceSummaryDashboard.leaveApprovedDays}}</h2>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-4">
        <div style="background-color: #5757b3; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total OD</h3>
            <h2 class="card-text">{{attendanceSummaryDashboard.odApprovedDays}}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div style="background-color: #5757b3; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Working Days</h3>
            <h2 class="card-text">
              {{attendanceSummaryDashboard.holiday
              +attendanceSummaryDashboard.weekOff
              +attendanceSummaryDashboard.leaveApprovedDays
              +attendanceSummaryDashboard.odApprovedDays
              +attendanceSummaryDashboard.totalPresentDays}}

            </h2>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 mb-4">
      <div style="background-color: #02c3a4; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Today Status</h3>
          <h2 class="card-text">{{todayAttendanceSummaryDashboard.totalPresentDays==1? "Present" : "Absent"}}</h2>
        </div>
      </div>
    </div> -->
    </div>
  </div>

  <!-- Manager Section -->

  <div *ngIf="userAccessLevel == UserType.MANAGER">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div style="background-color: #00a9c8; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Employees</h3>
            <h2 class="card-text">{{dashboardData.totalEmployees}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #ff3078; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Designation Wise Count</h3>
            <h2 class="card-text">{{dashboardData.totalDesignationCount}}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div style="background-color: #4590c2; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Vendors</h3>
            <h2 class="card-text">{{dashboardData.totalVendor}}</h2>
          </div>
        </div>
      </div>

    </div>
    <p>
      {{this.filters.selectedMonth.value | monthName}} - {{this.filters.selectedYear.value}}
    </p>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div style="background-color: #549130; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Leave</h3>
            <h2 class="card-text">{{attendanceSummaryDashboard.leaveApprovedDays}}</h2>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-4">
        <div style="background-color: #5757b3; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total OD</h3>
            <h2 class="card-text">{{attendanceSummaryDashboard.odApprovedDays}}</h2>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-4">
        <div style="background-color: #ffb902; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Payment Generated</h3>
            <h2 class="card-text">{{dashboardData.paymentGeneratedCount }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #b834a2; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Payment Not Generated</h3>
            <h2 class="card-text">{{dashboardData.paymentNotGeneratedCount }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #cc293a; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Payment Processed </h3>
            <h2 class="card-text">{{dashboardData.paymentProcessedForSelectedMonth | currency:'INR'}}</h2>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 mb-4">
      <div style="background-color: #02c3a4; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Today Present Count</h3>
          <h2 class="card-text">{{todayAttendanceSummaryDashboard.totalPresentDays}}</h2>
        </div>
      </div>
    </div> -->
    </div>
  </div>

  <!-- Vendor Section -->

  <div *ngIf="userAccessLevel == UserType.VENDOR">
    <div class="row">

      <div class="col-md-4 mb-4">
        <div style="background-color: #00a9c8;" class="card shadow-sm dashboard-bg">
          <div class="card-body">

            <h3 class="card-title">

              Total Company
            </h3>
            <h2 class="card-text">{{dashboardData.totalCompany}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #ff3078; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Designation</h3>
            <h2 class="card-text">{{dashboardData.totalDesignationCount}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #02c3a4; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Employee</h3>
            <h2 class="card-text">{{dashboardData.totalEmployees}}</h2>
          </div>
        </div>
      </div>

    </div>
    <p>
      {{this.filters.selectedMonth.value | monthName}} - {{this.filters.selectedYear.value}}
    </p>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div style="background-color: #ffb902; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Payment Generated </h3>
            <h2 class="card-text">{{dashboardData.paymentGeneratedCount}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #b834a2; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Payment Not Generated</h3>
            <h2 class="card-text">{{dashboardData.paymentNotGeneratedCount }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #cc293a; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Payment Processed </h3>
            <h2 class="card-text">{{dashboardData.paymentProcessedForSelectedMonth | currency:'INR'}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- State Section -->

  <div *ngIf="userAccessLevel == UserType.STATE_ADMIN">
    <div class="row">

      <div class="col-md-4 mb-4">
        <div style="background-color: #ff3078; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Unit</h3>
            <h2 class="card-text">{{dashboardData.totalCompany}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #00a9c8; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Vendor</h3>
            <h3 class="card-text">{{dashboardData.totalVendor}}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #02c3a4; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Designation</h3>
            <h2 class="card-text">{{dashboardData.totalDesignationCount}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #3e9cd6; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Employees</h3>
            <h2 class="card-text">{{dashboardData.totalEmployees}}</h2>
          </div>
        </div>
      </div>





      <!-- <div class="col-md-4 mb-4">
      <div style="background-color: #02c3a4; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Today Present Count</h3>
          <h2 class="card-text">{{todayAttendanceSummaryDashboard.totalPresentDays}}</h2>
        </div>
      </div>
    </div> -->
    </div>

    <p>
      {{this.filters.selectedMonth.value | monthName}} - {{this.filters.selectedYear.value}}
    </p>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div style="background-color: #549130; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total Leave</h3>
            <h2 class="card-text">{{attendanceSummaryDashboard.leaveApprovedDays}}</h2>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-4">
        <div style="background-color: #5757b3; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Total OD</h3>
            <h2 class="card-text">{{attendanceSummaryDashboard.odApprovedDays}}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div style="background-color: #ffb902; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Payment Generated</h3>
            <h2 class="card-text">{{dashboardData.paymentGeneratedCount }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #b834a2; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Payment Not Generated</h3>
            <h2 class="card-text">{{dashboardData.paymentNotGeneratedCount }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div style="background-color: #cc293a; " class="card shadow-sm dashboard-bg">
          <div class="card-body">
            <h3 class="card-title">Payment Processed </h3>
            <h2 class="card-text">{{dashboardData.paymentProcessedForSelectedMonth | currency:'INR'}}</h2>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- <div class="row">
    <div class="col-md-4 mb-4">
      <div style="background-color: #00a9c8; " class="card shadow-sm dashboard-bg">
        <div class="card-body">
          <h3 class="card-title">Today Present Employees</h3>
          <h3 class="card-text">{{attendanceSummaryDashboard.totalPresentDays}}</h3>
        </div>
      </div>
    </div>
  </div> -->
</div>

<button (click)="dataService.downloadPDF('paymentTable')" class="btn btn-primary">Download as PDF</button>
<button (click)="dataService.downloadExcelTable('paymentTable', 'payment-report')" class="btn btn-success">Download as
  Excel</button>

<div *ngIf="userAccessLevel!= UserType.EMPLOYEE" class="container mt-4">
  <table id="paymentTable" class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Month</th>
        <th>Year</th>
        <th *ngIf="userAccessLevel!= UserType.EMPLOYEE">Total Employee</th>
        <th *ngIf="userAccessLevel!= UserType.EMPLOYEE">Payment Generated Count</th>
        <th *ngIf="userAccessLevel!= UserType.EMPLOYEE">Payment Not Generated Count</th>
        <th>Payment Processed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of paymentGeneratedList; let i =index">
        <td>{{i+1}}</td>
        <td>{{ payment.month | monthName }}</td>
        <td>{{ payment.year }}</td>
        <td *ngIf="userAccessLevel!= UserType.EMPLOYEE">{{ payment.totalEmployee }}</td>
        <td *ngIf="userAccessLevel!= UserType.EMPLOYEE">{{ payment.paymentGeneratedCount }}</td>
        <td *ngIf="userAccessLevel!= UserType.EMPLOYEE">{{ payment.paymentNotGeneratedCount }}</td>
        <td>{{ payment.totalAmount | currency:'INR' }}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="paymentGeneratedList.length > 0">
      <tr>
        <td [attr.colspan]="userAccessLevel != UserType.EMPLOYEE ? 6 : 3" class="text-right">
          <strong>Total:</strong>
        </td>

        <td>{{ getTotal('totalAmount') | currency:'INR' }}</td>
      </tr>
    </tfoot>
  </table>


</div>


<div class="container mt-4">
  <div class="row">
    <div *ngIf="userAccessLevel!= UserType.EMPLOYEE" class="col-md-6">
      <div *ngIf="paymentGeneratedList.length > 0; else noData">
        <app-chart [chartData]="chartData" [chartType]="chartType" [chartOptions]="chartOptions"
          [chartTitle]="'Payment Generation Graph'" chartId="paymentGeneratedChart">
        </app-chart>
      </div>

      <ng-template #noData>
        <p>No payment generated data available.</p>
      </ng-template>
    </div>

    <div class="col-md-6">
      <div *ngIf="paymentGeneratedList.length > 0; else noData">
        <app-chart [chartData]="chartDataForPaymentAmount" [chartOptions]="chartOptionsForPaymentAmount"
          [chartType]="'line'" [chartTitle]="'Payment Processed Graph'" [chartId]="'paymentAmountChart'">
        </app-chart>
      </div>

      <ng-template #noData>
        <p>No payment generated data available.</p>
      </ng-template>
    </div>

  </div>
</div>




<button class="btn btn-primary mt-2" (click)="toggleTable()">
  {{ showFullTable ? 'Show Less' : 'View More Details' }}
</button>
<div *ngIf="userAccessLevel!= UserType.EMPLOYEE && showFullTable" class="container mt-4">
  <div class="row">
    <div class="col-md-6" *ngFor="let column of columnNames">
      <h3>{{ column.label }}</h3>

      <table *ngIf="column.data?.length; else loading">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ column.label }}</th>
            <th>Unit</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of column.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>

              {{ row[column.output] || 'N/A' }}
              <span *ngIf="column.key=='experience' && row[column.output]!=0">Year(s)</span>
            </td>
            <td>{{ row['CompanyFName'] || 'N/A' }}</td>
            <td>
              <b>{{ row?.Total }}</b>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td [attr.colspan]="2"><strong>Total:</strong></td>
            <td>{{ getRepTotal(column.data) }}</td>
          </tr>
        </tfoot>
      </table>


      <!-- Loading message -->
      <ng-template #loading>
        <p>Loading...</p>
      </ng-template>
    </div>
  </div>

</div>