
<button class="btn btn-primary mb-3" (click)="downloadPDF()">Download OD Slip</button>
<div id="pdfContent" class="card p-4">
<div  >
  <div class="payslip-header">
    <h3>OD SLIP</h3>    
  </div>

  <!-- Company and Employee Details -->
  <div class="row">
    <div class="col-md-6">
        <img src="/assets/images/logo/logo_3.png" alt="Logo" />
    </div>
    <div class="col-md-6">
      <h5>Tamilnadu Tourism Developement Corporation</h5>
      <!-- <p><strong>ABC Pvt Ltd</strong></p> -->
      <p>123, Corporate Avenue</p>
      <p>Chennai, Tamilnadu, 600029</p>
    </div>
  </div>
  <hr>
  <!-- Earnings and Deductions -->
  <div class="row">   
    <div class="col-md-4">
        <p>Employee ID: <strong>12345</strong></p>
    </div>
    <div class="col-md-4">
        <p>Employee Name: <strong>Aravind</strong></p>
    </div>
    <div class="col-md-4">
        <p>Designation: <strong>ID department</strong></p>
    </div>   
  </div>
  <div class="row">   
    <div class="col-md-4">
        <p>Facility: <strong>Chennai</strong></p>
    </div>
    <div class="col-md-4">
        <p>City: <strong>Chennai</strong></p>
    </div>
    <div class="col-md-4">
        <p>Manager Name: <strong>Varun</strong></p>
    </div>   
  </div>
  <div class="row">   
    <div class="col-md-4">
        <p>Purpose: <strong>CM Visit</strong></p>
    </div>
    <div class="col-md-4">
        <p>From : <strong>21 November 2024</strong></p>
    </div>
    <div class="col-md-4">
        <p>To : <strong>24 November 2024</strong></p>
    </div>   
  </div>

  <hr>
  <div class="row">   
    <div class="col-md-12">
        <p><strong>Purpose of visit</strong></p>
    </div>
    <div class="col-md-12">
        <p>Mr. Aravind will be visiting Chennai from 21 November 2024 to 24 November 2024 for the purpose of the
             Chief Minister's visit. Kindly approve this as on-duty.             
        </p>
    </div>
    <div class="col-md-12">
        <p>Thank you</p>
    </div>      
  </div>
  <hr>
  <div class="row">   
    <div class="col-md-8">
        <p><strong>Approve Authority</strong></p>
        <br>
        <p>Mr. Varun</p>
    </div>
    <div class="col-md-4" style="float: left;">
        <p><strong>Authority signature</strong></p>
        <br>
        <p>Mr. Ajith</p>
    </div>  
  </div>

  <!-- Footer -->
  
</div>
</div>
