
<button class="btn btn-primary mb-3" (click)="downloadPDF()">Download OD Slip</button>
<div id="pdfContent" class="card p-4">
<div  >
  <div class="payslip-header">
    <h3 style="text-align: center;">On-Duty SLIP</h3>    
  </div>
  <br>

  <!-- Company and Employee Details -->
  <div class="row">
    <div class="col-md-6">
        <img src="/assets/images/logo/logo_3.png" alt="Logo" />
    </div>
    <div class="col-md-6">
      <h5>Tamilnadu Tourism Developement Corporation</h5>           
      <p>No.2,Wallajah Road (Near D1 Police Station),</p>
      <p>Chennai-600 002.</p>      
    </div>
  </div>
  <hr>

  <div class="row">   
    <div class="col-md-4">
        <p>Employee ID: <strong>{{payobj?.employeeId}}</strong></p>
    </div>
    <div class="col-md-4">
        <p>Employee Name: <strong>{{payobj?.employeeName}}</strong></p>
    </div>
    <!-- <div class="col-md-4">
        <p>Designation: <strong>{{payobj?.employeeName}}</strong></p>
    </div>    -->
  </div>
  <div class="row">   
    <div class="col-md-4">
        <p>Facility: <strong>{{payobj?.visitingComanyName}}</strong></p>
    </div>
    <div class="col-md-4">
        <p>City: <strong>{{payobj?.city}}</strong></p>
    </div>
    <div class="col-md-4">
        <p>Manager Name: <strong>{{payobj?.managerName}}</strong></p>
    </div>   
  </div>
  <div class="row">   
    <div class="col-md-4">
        <p>Purpose: <strong>{{payobj?.purpose}}</strong></p>
    </div>
    <div class="col-md-4">
        <p>From : <strong>{{payobj?.from_Date}}</strong></p>
    </div>
    <div class="col-md-4">
        <p>To : <strong>{{payobj?.to_Date}}</strong></p>
    </div>   
  </div>

  <hr>
  <div class="row">   
    <div class="col-md-12">
        <p><strong>Purpose of visit</strong></p>
    </div>
    <div class="col-md-12">
        <p>Mr.{{payobj?.employeeName}} will be visiting Chennai from {{payobj?.from_Date}} to {{payobj?.to_Date}} for the purpose of the
          {{payobj?.purpose}}. Kindly approve this as on-duty.             
        </p>
    </div>
    <div class="col-md-12">
        <p>Thank you</p>
    </div>      
  </div>
  <hr>
  <div class="row">   
    <div class="col-md-8">
        <p><strong>Approve Authority</strong></p>
        <br>
        <p>Mr.{{payobj?.managerName}}</p>
    </div>
    <div class="col-md-4" style="float: left;">
        <p><strong>Authority signature</strong></p>
        <br>
        <p>Mr.{{payobj?.managerName}}</p>
    </div>  
  </div>

  
  
</div>
</div>
